<form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <label for="first-name">First Name: </label>
    <input  type="text" formControlName="firstName" required>
  
    <label for="last-name">Last Name: </label>
    <input  type="text" formControlName="lastName">
  
    <div formGroupName="address">
      <h2>Address</h2>
  
      <label for="street">Street: </label>
      <input  type="text" formControlName="street">
  
      <label for="city">City: </label>
      <input type="text" formControlName="city">
  
      <label for="state">State: </label>
      <input type="text" formControlName="state">
  
      <label for="zip">Zip Code: </label>
      <input type="text" formControlName="zip">
    </div>
  
    <div formArrayName="aliases">
      <h2>Aliases</h2>
      <button (click)="addAlias()">+ Add another alias</button>
  
      <div *ngFor="let alias of aliases.controls; let i=index">
        <!-- The repeated alias template -->
        <label for="alias-{{ i }}">Alias:</label>
        <input  type="text" [formControlName]="i">
      </div>
    </div>
  
  
    <p>Complete the form to enable button.</p>
    <button type="submit" [disabled]="!profileForm.valid">Submit</button>
  </form>
  
  <hr>
  
  <p>Form Value: {{ profileForm.value | json }}</p>
  
  <p>Form Status: {{ profileForm.status }}</p>
  
  <button (click)="updateProfile()">Update Profile</button>

  <div *ngFor="let todo of (allTodosSignal())">
    <label >"title" {{  todo['title'] }}</label>
    <label >"id" {{  todo['id'] }}</label>
    <label >"Completed" {{  todo['Completed'] }}</label>
  </div>
  
  
  <!-- 
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  -->
